.main{
    position: relative;
}
.main>input {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    background:rgb(255, 255, 255) url("./down arrow.svg") no-repeat 98% center /auto 60%;
    border-radius: 5px;
    height: 100%;
}
.main>input.show_opt{
    background-image: url("./up\ arrow.svg");
}
.main>ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: auto;
    min-width: 100%;
    height: 150px;
    position: absolute;
    overflow: auto;
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(128, 128, 128);
    border-right: 1px solid rgb(128, 128, 128);
    border-bottom: 1px solid rgb(128, 128, 128);
    z-index: 999;
}
.main li {
    padding: 5px 10px;
    white-space: nowrap;
}
.main li:hover{
    background: rgba(151, 151, 151, 0.5);
}
.hide {
    display: none;
}
